<!DOCTYPE html>
<HTML lang="en">
  <HEAD>

    <!-- HEAD -->

    <META charset="utf-8">
    <META name="viewport" content="width=device-width">
    <title>Holberton AirBnB</title>

    <!-- FAVICON -->

    <LINK
      rel="shortcut icon"
      href="{{ url_for('static',
	    filename='images/icon.png') }}?{{ cache_id }}">

    <!-- IMPORT JQUERY -->

    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    <!-- JAVASCRIPT FILES -->

    <SCRIPT src="{{ url_for('static',
		 filename='scripts/100-hbnb.js') }}?{{ cache_id }}"></SCRIPT>

    <!-- **********************
	 CSS styles
	 ********************** -->

    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/4-common.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/3-header.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/3-footer.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/6-filters.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/8-places.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/font-awesome.css') }}?{{ cache_id }}">
  </HEAD>

  <!-- **********************
       BODY
       ********************** -->

  <BODY>

    <!-- **********************
	 HEADER
	 ********************** -->

    <HEADER>
      <DIV id="api_status">
      </DIV>
    </HEADER>
    <MAIN>
      <DIV class="container">

	<!-- **********************
	     FILTERS
	     ********************** -->

	<SECTION class="filters">

	  <!-- **********************
	       LOCATIONS
	       ********************** -->

	  <DIV class="locations">
	    <h3>States</h3>
	    <h4>&nbsp;</h4>
	    <UL class="popover">
	      {% for state in states|dictsort %}
	      <H2><INPUT
		    type="checkbox"
		    id="{{ state[1].id }}"
		    name="{{ state[1].name }}">
	      {{ state[1].name }}</H2>
	      <UL>
		{% for city in state[1].cities|sort(attribute='name') %}
		<LI><INPUT
		      type="checkbox"
		      id="{{ city.id  }}"
		      name="{{ city.name }}">
		{{ city.name }}</LI>
		{% endfor %}
	      </UL>
	      {% endfor %}
	    </UL>
	  </DIV>

	  <!-- **********************
	       AMENITIES
	       ********************** -->

	  <DIV class="amenities">
	    <h3>Amenities</h3>
	    <h4>&nbsp;</h4>
	    <UL class="popover">
	      {% for amenity in amens|sort(attribute='name') %}
	      <LI><INPUT
		    type="checkbox"
		    id="{{ amenity.id }}"
		    name="{{ amenity.name }}">
		{{ amenity.name }}
	      </LI>
	      {% endfor %}
	    </UL>
	  </DIV>

	  <!-- **********************
	       SEARCH BUTTON
	       ********************** -->

	  <button>Search</button>
	</SECTION>

	<SECTION class="places">
	  <h1>Places</h1>

	<!-- **********************
	     BEGIN 1 PLACE
	     ********************** -->


	</SECTION>
      </DIV>
    </MAIN>

    <!-- FOOTER -->

    <footer>
      Holberton School
    </footer>
  </BODY>
</HTML>
