<!DOCTYPE html>
<HTML lang="en">
  <HEAD>

    <!-- HEAD -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Holberton AirBnB</title>

    <!-- FAVICON -->

    <LINK
      rel="shortcut icon"
      href="{{ url_for('static',
	    filename='images/icon.png') }}?{{ cache_id }}">

    <!-- IMPORT JQUERY -->

    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    <!-- JAVASCRIPT FILES -->

    <SCRIPT src="{{ url_for('static',
		 filename='scripts/2-hbnb.js') }}?{{ cache_id }}"></SCRIPT>

    <!-- **********************
	 CSS styles
	 ********************** -->

    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/4-common.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/3-header.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/3-footer.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/6-filters.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/8-places.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/font-awesome.css') }}?{{ cache_id }}">
  </HEAD>

  <!-- **********************
       BODY
       ********************** -->

  <BODY>

    <!-- **********************
	 HEADER
	 ********************** -->

    <HEADER>
      <DIV id="api_status">
      </DIV>
    </HEADER>
    <main>
      <DIV class="container">

	<!-- **********************
	     FILTERS
	     ********************** -->

	<section class="filters">

	  <!-- **********************
	       LOCATIONS
	       ********************** -->

	  <DIV class="locations">
	    <h3>States</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for state in states|dictsort %}
	      <H2>{{ state[0] }}</H2>
	      <UL>
		{% for city in state[1].cities|sort(attribute='name') %}
		<LI>{{ city.name }}</LI>
		{% endfor %}
	      </UL>
	      {% endfor %}
	    </ul>
	  </DIV>

	  <!-- **********************
	       AMENITIES
	       ********************** -->

	  <DIV class="amenities">
	    <h3>Amenities</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for amenity in amens|sort(attribute='name') %}
	      <LI><INPUT
		    type="checkbox"
		    id="{{ amenity.id }}"
		    name="{{ amenity.name }}">
		{{ amenity.name }}
	      </LI>
	      {% endfor %}
	    </ul>
	  </DIV>

	  <!-- **********************
	       SEARCH BUTTON
	       ********************** -->

	  <button>Search</button>
	</section>

	<section class="places">
	  <h1>Places</h1>

	<!-- **********************
	     BEGIN 1 PLACE
	     ********************** -->

	  {% for place in places|sort(attribute='name') %}

	  <article>

	    <DIV class="title">

	      <h2>{{ place.name }}</h2>

	      <DIV class="price_by_night">

		{{ place.price_by_night }}

	      </DIV>
	    </DIV>
	    <DIV class="information">
	      <DIV class="max_guest">
		<i class="fa fa-users fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.max_guest }} Guests

	      </DIV>
	      <DIV class="number_rooms">
		<i class="fa fa-bed fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.number_rooms }} Bedrooms
	      </DIV>
	      <DIV class="number_bathrooms">
		<i class="fa fa-bath fa-3x" aria-hidden="true"></i>

		<br />

		{{ place.number_bathrooms }} Bathroom

	      </DIV>
	    </DIV>

	    <!-- **********************
		 USER
		 **********************  -->

	    <DIV class="user">

	      <strong>Owner: {{ users[place.user_id] }}</strong>

	    </DIV>
	    <DIV class="description">

	      {{ place.description }}

	    </DIV>

	  </article> <!-- End 1 PLACE Article -->

	  {% endfor %}

	</section>
      </DIV>
    </main>

    <!-- FOOTER -->

    <FOOTER>
      Holberton School
    </FOOTER>
  </BODY>
</HTML>
