<!DOCTYPE html>
<html>
  <head>

    <title>Ceci n'est pas une page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <LINK
      rel="shortcut icon"
      href="{{ url_for('static',
	    filename='images/sun.png') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/normalize.min.css') }}?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="{{ url_for('static',
	    filename='styles/404-styles.css') }}?{{ cache_id }}">

  </head>
  <body>
    <header>
      <h3>You have entered an unknown galaxy, scroll down to explore...</h3>
    </header>
    <main class="Loop js-loop">
      <section class="one">
      </section>
      <section class="two">
      </section>
      <section class="three">
      </section>
      <section class="four">
      </section>
      <section class="five">
      </section>
      <section class="six">
      </section>

      <!--
	  These blocks are the same as the first blocks to get that looping illusion going.
	  You need to add clones to fill out a full viewport height.
	-->
      <section class="one is-clone">
      </section>
      <section class="two is-clone">
      </section>
    </main>
    <SCRIPT src="{{ url_for('static', filename='scripts/404.js') }}?{{ cache_id }}"></SCRIPT>
  </body>
</html>
