{% extends "layout.html" %}
{% block content %}
<MAIN>
  <DIV class="container">
    <DIV class="row">
      <DIV class="form_bg">
	<!-- <form action="/hbnb/" method="post"> -->
        <form action="/" method="post">
          <h2 class="text-center">Please Login to Access Content</h2>

          <br/>
          <DIV class="form-group">
            <input
	      type="email"
	      class="form-control"
	      id="form-email"
	      name="email"
	      placeholder="User id"
	      required>
          </DIV>
          <DIV class="form-group">
            <input
	      type="password"
	      class="form-control"
	      id="form-password"
	      name="password"
	      placeholder="Password"
	      required>
          </DIV>
          <br/>
          <DIV class="align-center">
            <button
	      name="action"
	      value="login"
	      type="submit"
	      class="btn btn-default"
	      id="login">Login</button>
            <button
	      name="action"
	      value="signup"
	      type="submit"
	      class="btn btn-default"
	      id="login">Sign Up</button>
          </DIV>
        </form>
      </DIV>
      <p class="error_message">
	To test, you may login with credentials:
	<br>un: 'test@user.com' pw: 'testuser'
	<br>(quotes are not a part of the credential)</p>
      {% if message is not none %}
      <p class="error_message">{{ message }}</p>
      {% endif %}
    </DIV>
  </DIV>
</MAIN>
{% endblock %}
